.navbar-bg {
  background-color: #2d3e50 !important;
}
.herosection-bg{
    background-color: #2bbb9b ;
}
.portfolio-tittle{
    color: #2c425a;
}
.about-section{
    background-color: #2bbb9b ;
}
.about-tittle{
    color: #ffffff;
}
.footer-section{
    background-color: #2d3e50;
}
.footer-link{
    color: #2bbb9b ;
}